/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************* 
    End Reset 
**********************/


/* Mobile First CSS */


body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	box-sizing: border-box;
}
sup {
	font-size: .6rem;
	vertical-align: super;
}

/* svgs */
.notifications img {
	height: 1.6rem;
	width: 1.6rem;
}

nav img {
	height: 2.4rem;
	width: 2.4rem;
}

header {
	display: grid;
	align-items: center;
	gap: .4rem;
	padding: .8rem;
	grid-template-columns: 38% 10% 1fr;
	background-color: rgb(116, 119, 191);
	color: white;
}

nav {
	background-color: rgb(77, 76, 117);
	padding: .7rem;
}

nav ul,
.traffic-nav {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(4, 1fr);
}

.traffic-nav {
	margin-bottom: 1rem;
	background-color: rgba(129, 201, 143, 0.594);
	border-radius: 20px;
	padding: .6rem;
}

a {
	text-decoration: none;
	color: black;
}

.traffic-nav li a {
	padding: .5rem;
}
.traffic-menu-selected {
	background-color: rgb(129, 201, 143);
	border-radius: 20px;
	transition: all .2s ease-in-out;
	color: white;
}
#button-save:active {
	background-color: rgba(116, 118, 191, 0.647);
	transform: translateY(4px);
}

#button-cancel:active {
	background-color: rgba(49, 50, 74, 0.647);
	transform: translateY(4px);
}

.user {
	display: inline-flex;
	align-items: center;
	border-left: solid 1px rgb(163, 163, 163);
	padding-left: .6rem;
}

.user img {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	margin-right: .5rem;
}
h1,
h2,
h3 {
	font-weight: 400;
}

h1 {
	font-size: 1.4rem;
}
h2 {
	text-transform: uppercase;
	font-size: 1.1rem;
	margin-bottom: .9rem;
}
h3 {
	font-size: 1.2rem;
	color: rgb(116, 119, 191);
}

.sections {
	padding: 1rem;
	display: grid;
	/* justify-items: center; */
	row-gap: 1rem;
}
.sections h2 {
	justify-self: left;
}
/* Bell Animation Source: https://github.com/animate-css/animate.css */
.swing {
	transform-origin: top center;
	animation-name: swing;
  }
.notifications img:hover,
.notifications img:active {
	animation: swing 0.5s;
	animation-iteration-count: infinite;
}
@keyframes swing {
	20% {
	  transform: rotate3d(0, 0, 1, 15deg);
	}
  
	40% {
	  transform: rotate3d(0, 0, 1, -10deg);
	}
  
	60% {
	  transform: rotate3d(0, 0, 1, 5deg);
	}
  
	80% {
	  transform: rotate3d(0, 0, 1, -5deg);
	}
  
	to {
	  transform: rotate3d(0, 0, 1, 0deg);
	}
  }
  /* ^ */

/* Used for dividing sections */
.border {
	border-bottom: 1px solid rgb(224, 224, 224);
	width: 100%;
}
/* ^ */

.dashboard-top {
	display: grid;
	grid-template-columns: 34% 1fr;
}
.dash-title {
	padding: 1rem;
}
.dash-title h1 {
	font-size: 1.3rem;
}
.dash-tab {
	background-color: rgb(247, 247, 247);
	border-left: 1px solid rgb(217, 217, 217);
	border-bottom: 1px solid rgb(217, 217, 217);
}

.alert {
	font-size: .9rem;
	display: grid;
	grid-template-columns: 90% 1fr;
	background-color: rgb(116, 119, 191);
	border-radius: 5px;
	margin: 1rem;
}
.alert p {
	color: white;
	padding: .9rem;
}
.alert-close {
	cursor: pointer;
	color: yellow;
	font-weight: 700;
}
/* Make chart.js charts responsive */
.widget-container-full,
.widget-container-half {
	width: 90vw;
}



/* Social Stats Specific */
.ss-sections {
	padding: 1rem;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	border: 1px solid rgb(212, 212, 212);
	display: grid;
	grid-template-columns: 30% 1fr 1fr;
}

.ss-sections p {
	grid-column-start: 2;
	font-size: 2.4rem;
	color: rgb(119, 119, 119);
}

.svg-circle {
	background-color: rgb(116, 119, 191);
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	display: grid;
	grid-row-end: span 2;
}
.social-stats svg {
	height: 2.1rem;
	width: 2.1rem;
	fill: white;
	margin: auto;
}
/* ^ */

/* New Members and Recent Activity Profile Photos */
.user-photo img {
	border-radius: 50%;
	height: 4.5rem;
	width: 4.5rem;
}

.new-members {
	row-gap: .5rem;
	text-align: center;
}
.recent-activity {
	text-align: center;
	row-gap: .5rem;
}

.user-data a {
	color: rgb(116, 119, 191);
}
.recent-activity .user-data a {
	color: black;
	font-weight: 400;
}
.user-arrow {
	visibility: hidden;
}

.form-row {
	display: grid;
	gap: 1rem;
	align-items: center;
}
.col {
	grid-template-columns: 1fr 1fr;
}
.col-2 {
	grid-template-columns: 64% 1fr;
	padding-bottom: 1rem;
	row-gap: 2rem;
}

.form-row label {
	font-size: 1.2rem;
}

#user-search,
#user-msg,
#button-send,
#timezones,
#button-save,
#button-cancel {
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: .8rem;
	font-size: 1.2rem;
	color: rgb(204, 204, 204);
}

#button-send,
#button-save {
	background-color: rgb(116, 119, 191);
	color: white;
}
#button-cancel {
	background-color: rgb(153, 153, 153);
	color: white;
}

#results li {
	padding: .2rem;
}
#results li:hover {
	background-color: rgba(116, 118, 191, 0.647);
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

@media screen and (min-width: 768px) {
	
	.notifications,
	.user {
		justify-self: end;
	}

	header {
		grid-template-columns: 1fr 50% 1fr;
	}

	.dashboard-top {
		grid-template-columns: 19% 1fr;
	}
	
	nav ul {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 4rem);
	}

	.alert {
		grid-template-columns: 94% 1fr;
	}
	

.layout {
	display: grid;
	grid-template-columns: 8% 1fr;
	}

	.sections {
		row-gap: 0rem;
	}	

.traffic {
	grid-template-columns: 1fr 1fr;
	}
#traffic-container {
	grid-column-start: 1;
	grid-column-end: span 2;
}

.traffic-nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-self: end;
	}
/* Make chart.js charts responsive */
.widget-container-full {
	width: 90vw;
}
.widget-container-half {
	width: 35vw;
}
/* ^ */

.chart-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgb(224, 224, 224);
}
.chart-container .border {
	border: 0;
}
.daily-traffic {
	border-right: 1px solid rgb(224, 224, 224);
	height: 100%;
}

.social-stats {
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
}
.social-stats h2 {
	grid-column-start: 1;
	grid-column-end: span 3;
	justify-self: start;
}
.ss-sections {
	padding: .6rem;
	grid-template-columns: repeat(3, 1fr);
	gap: .4rem;
}

.new-members {
	grid-template-columns: 12% 1fr 15%;
	align-items: center;
	text-align: left;
	row-gap: 1rem;
}
.user-date  {
	justify-self: end;
}
.user-arrow {
	justify-self: end;
	visibility: visible;
}

.new-members h2,
.new-members .border {
	grid-column-start: 1;
	grid-column-end: span 3;
}


.recent-activity {
	grid-template-columns: 12% 1fr 5%;
	align-items: center;
	row-gap: 1rem;
	justify-self: left;
	border-left: 1px solid rgba(224, 224, 224, 0);
	height: 100%;
	text-align: left;
}
.recent-activity h2,
.recent-activity .border {
grid-column-start: 1;
grid-column-end: span 3;
}
.recent-activity .user-date,
.user-arrow {
	place-self: center;
	font-size: 1.2rem;
}

/* Settings Section */
.col-2 {
	grid-template-columns: 30% 15%;
	padding: 1rem;
}

}

@media screen and (min-width: 1024px) {
	
	header {
		grid-template-columns: 1fr 78% 1fr;
	}

	.alert {
		grid-template-columns: 95% 1fr;
	}

	/* Make chart.js charts responsive */
	.widget-container-full {
		width: 88vw;
	}
	.widget-container-half {
		width: 35vw;
	}
	/* ^ */


	.member-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 2rem;
		border-bottom: 1px solid rgb(224, 224, 224);
	}
	.new-members {
		grid-template-columns: 20% 1fr 1fr;
		row-gap: 1rem;
		text-align: left;
		border-right: 1px solid rgb(224, 224, 224);
		height: 100%;
	}
	/* Hides border in New Members Section */
	.utility {
		border: 0;
	}
	/* Re-do of Recent Activity */
	.recent-activity {
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		row-gap: 1rem;
		justify-self: left;
		border-left: 1px solid rgba(224, 224, 224, 0);
		height: 100%;
	}
	.recent-activity h2,
	.recent-activity .border {
	grid-column-start: 1;
	grid-column-end: span 3;
	}
	.recent-activity .user-date,
	.recent-activity .user-photo {
		place-self: center;
		font-size: 1.2rem;
	}
	.user-arrow {
		justify-self: right;
	}
	.forms-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.col-2 {
		grid-template-columns: 50% 25%;
		row-gap: 2.5rem;
		margin-bottom: 2.1rem;
	}
	.message-user {
		border-right: 1px solid rgb(224, 224, 224);
		row-gap: 2rem;
	}
	

}