/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************* 
    End Reset 
**********************/


/* Mobile First CSS */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}
sup {
	font-size: .6rem;
	vertical-align: super;
}

/* svgs */
.notifications img {
	height: 1.6rem;
	width: 1.6rem;
}

nav img {
	height: 2.4rem;
	width: 2.4rem;
}

header {
	display: grid;
	align-items: center;
	gap: .4rem;
	padding: .8rem;
	grid-template-columns: 38% 10% 1fr;
	background-color: rgb(116, 119, 191);
	color: white;
}

nav {
	background-color: rgb(77, 76, 117);
	padding: .7rem;
}

nav ul,
.traffic-nav {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(4, 1fr);
}

.traffic-nav {
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: black;
}

/* Temporary Look and Functionality */
.traffic-nav li a {
	padding: .5rem;
	color: white;
	background-color: rgb(129, 201, 143);
	border-radius: 20px;
}

.user {
	display: inline-flex;
	align-items: center;
	border-left: solid 1px rgb(163, 163, 163);
	padding-left: .6rem;
}

.user img {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	margin-right: .5rem;
}

h1 {
	font-size: 1.4rem;
}
h2 {
	text-transform: uppercase;
	font-size: 1.1rem;
	margin-bottom: .9rem;
}
h3 {
	font-size: 1.2rem;
	font-weight: 400;
	color: rgb(116, 119, 191);
}

.sections {
	padding: 1rem;
	display: grid;
	/* justify-items: center; */
	row-gap: 1rem;
}
.sections h2 {
	justify-self: left;
}
/* Used for dividing sections */
.border {
	border-bottom: 1px solid rgb(224, 224, 224);
	width: 100%;
}
/* ^ */

.dashboard-top {
	display: grid;
	grid-template-columns: 34% 1fr;
}
.dash-title {
	padding: 1rem;
}
.dash-title h1 {
	font-size: 1.3rem;
}
.dash-tab {
	background-color: rgb(247, 247, 247);
	border-left: 1px solid rgb(217, 217, 217);
	border-bottom: 1px solid rgb(217, 217, 217);
}

.alert {
	font-size: .9rem;
	display: grid;
	grid-template-columns: 90% 1fr;
	background-color: rgb(116, 119, 191);
	border-radius: 5px;
	margin: 1rem;
}
.alert p {
	color: white;
	padding: .9rem;
}
.alert-close {
	cursor: pointer;
	color: yellow;
	font-weight: 700;
}


/* Social Stats Specific */
.ss-sections {
	padding: 1rem;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	border: 1px solid rgb(212, 212, 212);
	display: grid;
	grid-template-columns: 30% 1fr 1fr;
}

.ss-sections p {
	grid-column-start: 2;
	font-size: 2.4rem;
	color: rgb(119, 119, 119);
}

.svg-circle {
	background-color: rgb(116, 119, 191);
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	display: grid;
	grid-row-end: span 2;
}
.social-stats svg {
	height: 2.1rem;
	width: 2.1rem;
	fill: white;
	margin: auto;
}
/* ^ */

/* New Members and Recent Activity Profile Photos */
.new-user-photo img,
.mbr-acct img {
	border-radius: 50%;
	height: 4.5rem;
	width: 4.5rem;
}
.mbr-acct {
	border-bottom: 1px solid rgb(215, 215, 215);
	text-align: center;
}
.mbr-acct:nth-child(5) {
	border-bottom: 0;
}
.new-members {
	row-gap: .5rem;
	/* align-self: center; */
	text-align: center;
}
.new-user-data a {
	color: rgb(116, 119, 191);
}
.mbr-acct p:nth-of-type(3) {
	visibility: hidden;
}

.form-row {
	display: grid;
	gap: 1rem;
	align-items: center;
}
.col {
	grid-template-columns: 1fr 1fr;
}
.col-2 {
	grid-template-columns: 70% 1fr;
	padding: 1rem;
}

.form-row label {
	font-size: 1.2rem;
}



  
#user-search,
#user-msg,
#button-send,
#timezones,
#button-save,
#button-cancel {
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	padding: .8rem;
	font-size: 1.2rem;
	color: rgb(204, 204, 204);
}

#button-send,
#button-save {
	background-color: rgb(116, 119, 191);
	color: white;
}
#button-cancel {
	background-color: rgb(153, 153, 153);
	color: white;
}

@media screen and (min-width: 768px) {
	
	.notifications,
	.user {
		justify-self: end;
	}

	header {
		grid-template-columns: 1fr 50% 1fr;
	}

	.dashboard-top {
		grid-template-columns: 19% 1fr;
	}
	
	nav ul {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 4rem);
	}

	.alert {
		grid-template-columns: 94% 1fr;
	}
	

.layout {
	display: grid;
	grid-template-columns: 8% 1fr;
	}

	.sections {
		row-gap: 0rem;
	}	

.traffic {
	grid-template-columns: 1fr 1fr;
	}
#traffic-container {
	grid-column-start: 1;
	grid-column-end: span 2;
}

.traffic-nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-self: end;
	}

.chart-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgb(224, 224, 224);
}
.chart-container .border {
	border: 0;
}
.daily-traffic {
	border-right: 1px solid rgb(224, 224, 224);
	height: 100%;
}

.social-stats {
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
}
.social-stats h2 {
	grid-column-start: 1;
	grid-column-end: span 3;
	justify-self: start;
}
.ss-sections {
	padding: .6rem;
	grid-template-columns: repeat(3, 1fr);
	gap: .4rem;
}

.new-members {
	grid-template-columns: 10% 1fr 1fr;
	align-items: center;
	row-gap: 1rem;
}
.new-user-date  {
	justify-self: end;
}

.new-members h2,
.new-members .border {
	grid-column-start: 1;
	grid-column-end: span 3;
}

.mbr-acct {
	display: grid;
	grid-template-columns: 12% 1fr 1fr;
	grid-template-rows: 2;
	text-align: left;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.mbr-acct img {
	grid-row-start: 1;
	grid-row-end: span 2;
}
.mbr-acct p:nth-of-type(2) {
	grid-row-start: 2;
	grid-column-start: 2;
}
.mbr-acct p:nth-of-type(3) {
	visibility: visible;
	font-size: 1.8rem;
	justify-self: right;
	align-self: center;
	grid-row-start: 1;
	grid-row-end: span 2;
}
/* Settings Section */
.col-2 {
	grid-template-columns: 30% 15%;
	padding: 1rem;
}

}

@media screen and (min-width: 1024px) {
	
	header {
		grid-template-columns: 1fr 63% 1fr;
	}

	.alert {
		grid-template-columns: 95% 1fr;
	}

	.member-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 2rem;
		border-bottom: 1px solid rgb(224, 224, 224);
	}
	.new-members {
		grid-template-columns: 20% 1fr 1fr;
		grid-template-rows:auto;
		align-items: center;
		row-gap: 0;
	}
	.mbr-acct {
		display: grid;
		grid-template-columns: 20% 1fr 1fr;
		grid-template-rows: 2;
		text-align: left;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}
}